{% extends 'dashboard/base/base.html' %}
{% block body %}
    <h2>{{ user.name }} さんのサービス一覧</h2>
    <ul>
        <li>{{ plans }}</li>
    </ul>
    <table class="data-table">
        <tr>
            <th></th>
            <th>サービス内容</th>
            <th>コード</th>
            <th>滞在時間</th>
            <th>単位</th>
        </tr>
    {% for ser in service %}
        <tr>
            <td><input type="radio" name="" id=""></td>
            <td>{{ ser.service_name }}</td>
            <td>{{ ser.service_code }}</td>
            <td>{{ ser.stay_time_category }}</td>
            <td>{{ ser.unit }}</td>
        </tr>
    {% endfor %}
    </dev>
{% endblock %}
