{% extends 'dashboard/base/base.html' %}
{% block body %}
    <h2>{{ context.user.name }} さんのサービス一覧</h2>
    <ul>
        <li>{{ context.plan.date }} {{ context.plan.start_time }}〜{{ context.plan.end_time }}</li>
        <li>{{ context.plan.stay_time_category }}</li>
        <li>{{ context.naiyou }}</li>
    </ul>
    
    <table class="data-table">
        <tr>
            <th>サービス内容</th>
            <th>コード</th>
            <th>滞在時間</th>
            <th>単位</th>
        </tr>
    {% for ser in context.service %}
        <tr>
            <td><input type="radio" name="" id=""></td>
            <td>{{ ser.service_name }}</td>
            {% comment %} <td>{{ ser.service_code }}</td> {% endcomment %}
            <td>{{ ser.stay_time_category }}</td>
            <td>{{ ser.unit }}</td>
        </tr>
    {% endfor %}
    </dev>
{% endblock %}
